@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  background-color: #f5f1f1;
}

@theme {
  --color-roamology: #c4ada0;
  --color-roamology-2: #a99b93;
  --color-roamology-green: #78ada2;
  --color-roamology-green2: #73cbba;
  --color-roamology-black: #413934;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@layer components {
  .roamology-button {
    @apply flex-center rounded-full bg-roamology py-2 px-5 text-white hover:bg-roamology-black;
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
